<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mailServer" value="someserver.org" />
    <add key="port" value="25"/>
    <add key="recipients" value="someone@someserver.org,someone1@someserver.org" />
    <add key="sender" value="tsnode@someserver.org"/>
  </appSettings>
</configuration>
