<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mailServer" value="owa.sibserv123.com" />
    <add key="port" value="25"/>
    <add key="recipients" value="aglybin@infocell.ru,glybinav@sibserv.com" />
    <add key="sender" value="tsnode@sibserv.com"/>
  </appSettings>
</configuration>
